@use "../base/theme";

.c-modal {
  margin: auto;

  font-size: 80%;

  border: 1px solid var(--black);
  border-radius: 5px;
  box-shadow: 0 0 1em rgb(0 0 0 / 0.3);

  padding: 1rem;

  &__content {
    width: fit-content;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    max-width: 70ch;
  }

  &__title {
    margin-block-end: 1rem;
    text-align: center;
  }

  &__text {
    font-size: var(--fs-14);
    font-weight: var(--font-medium);
    text-align: left;
  }

  &::backdrop {
    background: rgb(0 0 0 / 0.4);
  }

  &__close-button {
    position: absolute;
    fill: var(--black-light);
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: var(--white);
    border: none;
    width: fit-content;
    margin-inline: auto;

    &:hover {
      fill: var(--black);
    }
  }
}

.c-modal.fade-in {
  animation: fadeIn 0.2s ease-in;
}

.c-modal.fade-out {
  animation: fadeOut 0.2s ease;
}

/* Animation de fondu pour le modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@media (min-width: 640px) {
  .c-modal {
    text-align: center;
    padding: 2rem;
  }
}
