@use "../base";
@use "../layouts/floatingBar";
@use "../layouts/navbar";
@use "../components/productCard";
@use "../components/button";

body {
  font-family: var(--font-family-barlow);
}

/* Product List Section */

.product-list-section {
  &__container {
    padding: 24px 16px 20px;
    max-width: max-content;
    margin-inline: auto;
  }

  &__title {
    font-family: var(--font-family-barlow);
    font-size: var(--fs-24);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    color: var(--black);
    margin-block-end: 24px;
  }

  &__items-container {
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(171px, 1fr));
    grid-template-columns: repeat(2, minmax(130px, 171px));
    gap: 16px;
  }
}

/* Discover section */
.discover-section {
  &__container {
    padding-top: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  &__title {
    font-weight: var(--font-bold);
    font-size: var(--fs-24);
    line-height: 28.8px;
    color: var(--black);
    text-transform: uppercase;
  }

  &__image {
    width: 100%;
    height: auto;
    max-height: 231px;
    object-position: 25% 75%;
    // max-width: 1038px;
    // max-height: 334px;
    object-fit: cover;
    // object-position: 30% 70%;
    // transform: scale(0.8);
  }

  &__description {
    font-size: var(--fs-14);
    font-weight: var(--font-medium);
    max-width: 273px;
    margin-inline: auto;
    line-height: 16.8px;
    color: var(--black);
  }
}

/* Media Queries */

@media (min-width: 390px) {
  .product-list-section {
    &__items-container {
      grid-template-columns: repeat(2, minmax(171px, 200px));
    }
  }
}

@media (min-width: 640px) {
  .product-list-section {
    &__items-container {
      gap: 2rem;
    }
  }
}

@media (min-width: 768px) {
  .product-list-section {
    &__items-container {
      grid-template-columns: repeat(4, minmax(171px, 200px));
      gap: 1rem;
    }
  }
}

@media (min-width: 1280px) {
  .product-list-section {
    &__container {
      padding-inline: 8rem;
    }
    &__items-container {
      grid-template-columns: repeat(4, minmax(171px, 390px));
    }
  }
}
