.u-container {
  padding-block: 1.5rem 1.25rem;
  padding-inline: 1rem;
  max-width: max-content;
  margin-inline: auto;
}

@media (min-width: 640px) {
  .u-container {
    padding-inline: 2rem !important;
  }
}

@media (min-width: 1024px) {
  .u-container {
    padding-inline: 4rem !important;
  }
}

@media (min-width: 1280px) {
  .u-container {
    padding-inline: 6rem !important;
  }
}

@media (min-width: 1570px) {
  .u-container {
    padding-inline: 9.5rem !important;
  }
}
