@use "../base/theme";

.u-title {
  font-weight: var(--font-bold);
  font-size: var(--fs-24);
  font-family: var(--font-family-barlow);
  line-height: 120%;
  color: var(--black);
  text-transform: uppercase;
}
