@use "../base/theme";

.l-floating-bar {
  background-color: var(--red-banner);
  width: 100%;

  &__content {
    max-width: fit-content;
    margin-inline: auto;
    padding-block: 16.5px;
  }

  &__text {
    min-width: fit-content;
    max-width: 245px;
    text-align: center;
    color: var(--white);
    font-family: var(--font-family-barlow);
    font-size: var(--fs-12);
    font-weight: var(--font-medium);
    line-height: 120%;

    span {
      font-weight: var(--font-bold);
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: 640px) {
  .l-floating-bar {
    &__text {
      max-width: fit-content;
    }
  }
}
