.l-navbar {
  background-color: var(--white);
  width: 100%;
  padding: 12px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-list {
    display: flex;
    width: 94px;
    justify-content: space-between;
  }

  &__logo {
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 640px) {
  .l-navbar {
    padding: 12px 56px;
  }
}
