/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  scroll-behavior: smooth;
}

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --red-banner: #9b090d;
  --white: #ffffff;
  --black: #000000;
  --black-light: #797979;
  /*========== Font and typography ==========*/
  --font-family-barlow: "Barlow", sans-serif;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-32: 2rem;
  --fs-33: 2.0625rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-50: 3.125rem;
  --fs-60: 3.75rem;
  --fs-80: 5rem;
  --font-bold: 700;
  --font-semi-bold: 600;
  --font-medium: 500;
  --font-normal: 400;
  /*========== Breakpoints ==========*/
  --bp-sm: 640px;
  --bp-md: 768px;
  --bp-lg: 1024px;
  --bp-xl: 1280px;
  --bp-xxl: 1536px;
}

.l-floating-bar {
  background-color: var(--red-banner);
  width: 100%;
}
.l-floating-bar a {
  text-decoration: none;
}
.l-floating-bar__content {
  max-width: fit-content;
  margin-inline: auto;
  padding-block: 16.5px;
}
.l-floating-bar__text {
  min-width: fit-content;
  max-width: 245px;
  text-align: center;
  color: var(--white);
  font-family: var(--font-family-barlow);
  font-size: var(--fs-12);
  font-weight: var(--font-medium);
  line-height: 120%;
}
.l-floating-bar__text span {
  font-weight: var(--font-bold);
  text-decoration: underline;
}
.l-floating-bar__text:hover {
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  .l-floating-bar__text {
    max-width: fit-content;
  }
}
.l-navbar {
  background-color: var(--white);
  width: 100%;
  padding: 0.75rem;
}
.l-navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-navbar__logo-list {
  display: flex;
  width: 94px;
  justify-content: space-between;
}
.l-navbar__logo:hover {
  cursor: pointer;
}

@media screen and (min-width: 640px) {
  .l-navbar {
    padding: 0.75rem 3.5rem;
  }
}
.c-product-card {
  width: 100%;
  height: auto;
}
.c-product-card__image-wrapper {
  margin-block-end: 0.5rem;
  width: 100%;
}
.c-product-card__image {
  width: 100%;
  height: 100%;
  height: 207px;
  object-fit: cover;
}
.c-product-card__info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.c-product-card__text {
  margin-block-end: 1rem;
}
.c-product-card__title {
  font-size: var(--fs-18);
  font-weight: var(--font-bold);
  line-height: 120%;
  color: var(--black);
}
.c-product-card__description {
  margin-block-start: 0.25rem;
  font-size: var(--fs-16);
  font-weight: var(--font-normal);
  line-height: 120%;
  color: var(--black);
}
.c-product-card__description-2 {
  font-size: var(--fs-12);
}
.c-product-card__price {
  font-size: var(--fs-18);
  color: var(--black);
  font-weight: var(--font-semi-bold);
  line-height: 120%;
  margin-block-end: 0.5rem;
}

@media (min-width: 640px) {
  .c-product-card__image {
    height: 210px;
  }
}
@media (min-width: 768px) {
  .c-product-card__image {
    height: 220px;
  }
}
@media (min-width: 1024px) {
  .c-product-card__image {
    height: 260px;
  }
}
@media (min-width: 1204px) {
  .c-product-card__image {
    height: 300px;
  }
}
@media (min-width: 1536px) {
  .c-product-card__image {
    height: 339px;
  }
}
.c-button {
  cursor: pointer;
  width: fit-content;
  padding-inline: 1rem;
  font-size: var(--fs-16);
  font-weight: var(--font-semi-bold);
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  background-color: var(--white);
  border: 1px solid var(--black);
}
.c-button:hover {
  background-color: var(--black);
  color: var(--white);
}

.u-container {
  padding-block: 1.5rem 1.25rem;
  padding-inline: 1rem;
  max-width: max-content;
  margin-inline: auto;
}

@media (min-width: 640px) {
  .u-container {
    padding-inline: 2rem !important;
  }
}
@media (min-width: 1024px) {
  .u-container {
    padding-inline: 4rem !important;
  }
}
@media (min-width: 1280px) {
  .u-container {
    padding-inline: 6rem !important;
  }
}
@media (min-width: 1570px) {
  .u-container {
    padding-inline: 9.5rem !important;
  }
}
.u-title {
  font-weight: var(--font-bold);
  font-size: var(--fs-24);
  font-family: var(--font-family-barlow);
  line-height: 120%;
  color: var(--black);
  text-transform: uppercase;
}

.c-modal {
  margin: auto;
  font-size: 80%;
  border: 1px solid var(--black);
  border-radius: 5px;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
  padding: 1rem;
}
.c-modal__content {
  width: fit-content;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  max-width: 70ch;
}
.c-modal__title {
  margin-block-end: 1rem;
  text-align: center;
}
.c-modal__text {
  font-size: var(--fs-14);
  font-weight: var(--font-medium);
  text-align: left;
}
.c-modal::backdrop {
  background: rgba(0, 0, 0, 0.4);
}
.c-modal__close-button {
  position: absolute;
  fill: var(--black-light);
  top: 0;
  right: 0;
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--white);
  border: none;
  width: fit-content;
  margin-inline: auto;
}
.c-modal__close-button:hover {
  fill: var(--black);
}

.c-modal.fade-in {
  animation: fadeIn 0.2s ease-in;
}

.c-modal.fade-out {
  animation: fadeOut 0.2s ease;
}

/* Animation de fondu pour le modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@media (min-width: 640px) {
  .c-modal {
    text-align: center;
    padding: 2rem;
  }
}
body {
  font-family: var(--font-family-barlow);
  min-height: 100vh;
}

/* Product List Section */
.product-list-section__title {
  margin-block-end: 1.5rem;
}
.product-list-section__items-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 171px));
  gap: 1rem;
}
.product-list-section #coffret-ducasse-text h2 {
  font-size: var(--fs-16);
}
.product-list-section #coffret-ducasse-text p {
  font-size: var(--fs-14);
}

/* Discover section */
.discover-section__container {
  padding-block: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.discover-section__image {
  width: 100%;
  max-width: 640px;
  height: auto;
  max-height: 231px;
  object-position: 25% 75%;
  object-fit: cover;
}
.discover-section__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.discover-section__info-titles {
  display: none;
}
.discover-section__info-subtitle {
  font-size: var(--fs-18);
  font-weight: var(--font-medium);
  line-height: 120%;
}
.discover-section__description {
  font-size: var(--fs-14);
  font-weight: var(--font-medium);
  max-width: 17rem;
  margin-inline: auto;
  line-height: 120%;
  color: var(--black);
}

/* Product Carousel Section */
.product-carousel-section__container {
  margin-block-end: 2rem;
}
.product-carousel-section__title {
  font-size: var(--fs-24);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  color: var(--black);
  margin-block-end: 1.5rem;
}
.product-carousel-section__card__image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 207px;
}
.product-carousel-section__card img {
  height: 207px;
  object-fit: contain;
  transform: scale(0.75);
}
.product-carousel-section__card__info {
  height: 160px;
  justify-content: space-between;
}
.product-carousel-section__card__text {
  margin-bottom: 0;
}
.product-carousel-section__card__price {
  margin-bottom: 0;
}
.product-carousel-section__button {
  border: 2px solid var(--black-light);
  border-radius: 50%;
  padding: 1.5rem;
  background-color: var(--white);
  top: 45%;
}
.product-carousel-section__button img {
  filter: invert(0.3);
}
.product-carousel-section__button:hover {
  border-color: var(--black);
}
.product-carousel-section__button:hover img {
  filter: invert(0);
}
.product-carousel-section #tisaniere-image {
  object-fit: cover;
  transform: scale(0.9);
  position: relative;
  bottom: -10px;
}
.product-carousel-section #gourde-aqua-rosa-image {
  position: relative;
  bottom: -20px;
}
.product-carousel-section #lorem-ipsum-3-image {
  position: relative;
  bottom: -10px;
}

/* Swiper class */
/* for moving the arrows outside the slider*/
.swiper-container {
  position: relative;
  width: 100%;
  padding-inline: 10px;
}

.product-carousel-section__container,
.swiper-container {
  padding-inline-end: 0;
}

/* fix the buttons positions */
.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  display: none;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 5px;
}

/* Media Queries */
@media (min-width: 390px) {
  .product-list-section__items-container {
    grid-template-columns: repeat(2, minmax(171px, 220px));
  }
  .product-list-section #coffret-ducasse-text h2 {
    font-size: var(--fs-18);
    line-height: 110%;
  }
  .product-list-section #coffret-ducasse-text p {
    font-size: var(--fs-16);
    line-height: 105%;
  }
  .discover-section__description {
    max-width: 70%;
    text-align: center;
  }
}
@media (min-width: 420px) {
  .swiper-container {
    padding-inline-start: 30px;
  }
}
@media (min-width: 550px) {
  .product-carousel-section__container {
    padding-inline-end: 1rem;
  }
  .swiper-container {
    padding-inline-end: 30px;
  }
}
@media (min-width: 640px) {
  .swiper-container {
    padding-inline: 50px;
  }
  .product-list-section__items-container {
    gap: 2rem;
  }
  .product-carousel-section__title {
    width: fit-content;
    margin-inline: auto;
  }
}
@media (min-width: 768px) {
  .product-list-section__items-container {
    grid-template-columns: repeat(4, minmax(150px, 300px));
    gap: 1rem;
  }
  .product-list-section__card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 155px;
  }
  .product-list-section__card__text {
    height: 5.375rem;
  }
}
@media (min-width: 1024px) {
  .discover-section__container {
    flex-direction: row;
    padding-inline: 5rem;
    gap: 1.5rem;
  }
  .discover-section__image {
    max-width: 1038px;
    max-height: 334px;
    object-position: 30% 70%;
    flex-basis: 60%;
  }
  .discover-section__info {
    flex-basis: 40%;
  }
  .discover-section__title {
    display: none;
  }
  .discover-section__info-titles {
    display: block;
  }
  .discover-section__description {
    max-width: 525px;
  }
}
@media (min-width: 1280px) {
  .product-list-section__items-container {
    grid-template-columns: repeat(4, minmax(171px, 390px));
  }
  .product-list-section__card__text {
    margin-block-end: 0;
    height: auto;
  }
  .product-list-section__card__price {
    margin-block-end: 0;
  }
}
@media (min-width: 1460px) {
  .product-carousel-section__card__info {
    height: auto;
  }
  .product-carousel-section__card__text {
    height: auto;
    margin-bottom: 1.25rem;
  }
  .product-carousel-section__card__price {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 1536px) {
  .product-list-section__container {
    padding-inline: 9.5rem;
    padding-block-end: 1rem;
  }
  .product-list-section #coffret-ducasse-text h2 {
    line-height: 120%;
  }
  .product-list-section #coffret-ducasse-text p {
    line-height: 120%;
  }
}

/*# sourceMappingURL=style.css.map */
